/**
 * Note: this file is copied from modules/mod-enterprise/files by ant
 * 
 * DO NOT make changes in this file in modules/SignServer-Admin-web
 */

 /* Keyfactor Fonts */
 /* ProximaNova-Regular */
 @font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
      url("fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
      url("fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff"),
      url("fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"),
      url("fonts/ProximaNova/ProximaNova-Regular.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
   color: #3C3C3C;
   font-family: "ProximaNova", sans-serif;
   font-weight: 400; 
   font-size: 0.875rem; 
   line-height: 1.25rem;
   text-transform: none;
   background-color: #ffffff;
   margin: 0px;
}

@media (min-width: 768px) {
 body {
   font-size: 1rem;
   line-height: 1.5rem;
   }
}

h1 {
 margin: 15px 0px;
 padding: 0px;
 color: #390c72;
 font-size: 0.875rem; 
 line-height: 1.25rem;
 text-transform: capitalize;
 font-weight: 400;
}

@media (min-width: 768px) {
 h1 {
   font-size: 1.5rem;
   line-height: 2rem;
   }
}

h2 {
   font-size: 14px;
}

a {
 color: #390C72;
 /* text-transform: capitalize; */
 text-decoration: none;
 opacity: 1;
 cursor: pointer;
}

a:hover {
 text-decoration: underline;
}
