#
# $Id$
#
# Build configuration of SignServer. Modify at will before building.
# Note: You might have to run "bin/ant clean" before building for some changes 
# to take effect.
# 


# ------------ Application server configuration --------------------------------

# Application server type
# Possible values: jboss, glassfish
# Default jboss
#appserver.type=jboss

# Application server home folder
# Default: $APPSRV_HOME or $JBOSS_HOME
#appserver.home=${basedir}/../../jboss-5.1.0
#appserver.home=/usr/local/SUNWappserver/
#appserver.home=${env.APPSRV_HOME}

# JBoss configuration to deploy to
# Available options are: all, default, minimal
# Default: default
#jboss.config=default

# JBoss deploy directory
# available options are: deploy, farm
# Default : deploy
#jboss.deploy=deploy

# GlassFish domain home folder
# Default: ${appserver.home}/domains/domain1
#glassfish.server.home.dir=/home/markus/.netbeans/6.7/GlassFishV2Domain


# ------------ Java ------------------------------------------------------------

# Java version
# Currently only 1.6 can be specified.
# Default: 1.6
#server.java.target=1.6
#client.java.target=1.6


# ------------ Web GUI configuration -------------------------------------------

# Configure the web server in JBoss to use HTTPS and the specified bind address 
# and ports etc.
# Setting j2ee.web-nohttps to true skips this step.
# Default: false
# Comment out or set to false if the web server should be configured. 
# Note that you will need p12/tomcat.jks and p12/truststore.jks keystore for web server https configuration. 
# Note that if this is set to true, configurations for ports and bind addresses set in this
# file is not taken into account, neither are the default values from SignServer.
# In this case, the default configuration from JBoss will be un-altered.
j2ee.web-nohttps=true

# When upgrading, the important options are:
# - httpsserver.password

# The password used to protect the web servers SSL keystore.
#httpsserver.password=serverpwd

# The path to the web servers SSL keystore.
# Default: p12/tomcat.jks
#httpsserver.keystore=p12/tomcat.jks

# The public port JBoss will listen to http on
# Default 8080
#httpserver.pubhttp=8080

# The public port JBoss will listen to https on, no client cert required
# Default 8442
#httpserver.pubhttps=8442

# The private port JBoss will listen to https on, client cert required
# Default 8443
#httpserver.privhttps=8443

# The interfaces JBoss will bind to. E.g. 127.0.0.1 will only allow connections from localhost.
# Default 0.0.0.0
#httpsserver.bindaddress.pubhttp=0.0.0.0
#httpsserver.bindaddress.pubhttps=0.0.0.0
#httpsserver.bindaddress.privhttps=0.0.0.0

# Default content encoding used to display JSP pages, for example ISO-8859-1, UTF-8 or GBK.
# Default: ISO-8859-1
#web.contentencoding=ISO-8859-1


# ------------- Database configuration -----------------------------------------

# jndi name of the datasource to use in deployment descriptors of ejbs.
# default: SignServerDS
#datasource.jndi-name=SignServerDS

# Prefix for the jndi name of the datasource to use in deployment descriptors of ejbs. 
# JBoss requires 'java:/' as prefix, while weblogic does not want anything ('') and
# GlassFish uses jdbc/
# default: java:/
#datasource.jndi-name-prefix=java:/
#datasource.jndi-name-prefix=
#datasource.jndi-name-prefix=jdbc/

# The database name selected for deployment
# Default: hsqldb
# (use the nodb option to use a local file-based database instead of regular database, this needs further configuring of the database location).
#database.name=mysql
#database.name=postgres
#database.name=mssql2000
#database.name=oracle
#database.name=sapdb
#database.name=sybase
#database.name=nodb

# The location of the file-based database when using the nodb database option (the example below would work for JBoss)
# the directory needs to be present, writable by the application server and empty at first startup.
#database.nodb.location=server/default/data/nodb

# Database connection URL.
# This is the URL used to connect to the database, used to configure a new datasource in JBoss.
# Default: jdbc:hsqldb:${jboss.server.data.dir}${/}hypersonic${/}SignServerLocalDB
# Mysql standard:
#database.url=jdbc:mysql://127.0.0.1:3306/signserver?characterEncoding=UTF-8
# Mysql Clusters should use something like:
#database.url=jdbc:mysql://host1,host2/signserver
#database.url=jdbc:mysql://192.168.1.15,192.168.1.18/signserver
#database.url=jdbc:postgresql://127.0.0.1/signserver
#database.url=jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=signserver
#database.url=jdbc:oracle:thin:@127.0.0.1:1521:xe
#database.url=jdbc:datadirect:oracle://127.0.0.1:1521;SID=signserver

#Uncomment the follwing setting if you are using MySQL cluster. Leave it commented otherwise.
#database.use.mysqlcluster=true

# JDBC driver classname.
# The JEE server needs to be configured with the appropriate JDBC driver for
# the selected database
# Default: org.hsqldb.jdbcDriver
#database.driver=com.mysql.jdbc.Driver
#database.driver=org.postgresql.Driver
#database.driver=com.microsoft.jdbc.sqlserver.SQLServerDriver
#database.driver=oracle.jdbc.driver.OracleDriver
#database.driver=com.ddtek.jdbc.oracle.OracleDriver

# Database username.
# Default: sa (works with hsqldb)
#database.username=signserver

# Database password.
# Default: (blank works with hsqldb)
#database.password=signserver


# -------------- JAX-WS Web Service Configuration ------------------------------
#
# JAX-WS Web Service requires JAX-WS 2.1 to build.
#
# Set to false to disable Main WebService deployment. 
# If set to false you must also disable the validationclient and signingandvalidationapi modules below.
#signserverws.enabled=true

# Set to true to enable the Generic WS API
# Default true
#genericws.enabled=true

# Set to true to enable Validation WebService deployment
# Default false
#validationws.enabled=false

# Set to true to enable Admin WebService deployment.
# Default true
#adminws.enabled=true

# Set to true to enable Client WebService deployment.
# Default true
#clientws.enabled=true


# -------------- Modules Configurations ----------------------------------------
#

# Include all modules in build. Set to true to enable all modules.
#
# Default: true
#includemodulesinbuild=true

# Include Log4j configuration in EAR (not needed for JBoss)
# Default: false
#module.log4j.enabled=false

# Module Renewal
# Default: false
#module.renewal.enabled=false

# Module XMLSigner
# Default: true
#module.xmlsigner.enabled=true

# Module XMLValidator
# Default: true
#module.xmlvalidator.enabled=true

# Module CMSSigner
# Default: true
#module.cmssigner.enabled=true

# Module ODFSigner
# Default: true
#module.odfsigner.enabled=true

# Module OOXMLSigner
# Default: true
#module.ooxmlsigner.enabled=true

# Module PDFSigner
# Default: true
#module.pdfsigner.enabled=true

# Module TSA
# Default: true
#module.tsa.enabled=true

# Module MRTDSODSigner
# Default: true
#module.mrtdsodsigner.enabled=true

# Module MRTDSigner
# Default: true
#module.mrtdsigner.enabled=true

# Module StatusProperties
# Default: false
#module.statusproperties.enabled=false

# Module SignerStatusReport
# Default: false
#module.signerstatusreport.enabled=false


# -------------- Client Configurations -----------------------------------------
#
# Set to true to enable build of the TimeStampClient
#
# Default: true
#timestampclient.enabled=true

# Set to true to enable build of the validation client.
# For this to build must also signserverws.enabled be set
# to true.
#
# Default: true
#validationclient.enabled=true

# Set to true to enable the PDF performance test client
# Default: false
#pdfperformancetest.enabled=false

# Set to true to enable build of the SigningAndValidationAPI.
# For this to build must also signserverws.enabled be set
# to true.
#
# Default: true
#signingandvalidationapi.enabled=true

# Set to enable build of the AdminGUI
# Default: true
#admingui.enabled=true

# Set to enable build of the ClientCLI
# Default: true
#clientcli.enabled=true

# Set to enable build of the Database CLI
# Default: true
#databasecli.enabled=true

# ------------ PrimeCardHSM ----------------------------------------------------

#PrimeCardHSM Specific Properties
#Uncomment to when using PrimeCardHSM, default false.
#primeCard.use=true
#primeCard.home=${env.PRIMECARD_HOME}


# -------------- Documentation Configuration -----------------------------------

# Deploy the documentation.
#
# Default: true
#webdoc.enabled=true


# -------------- Status And Health Check Configuration -------------------------
#
# Parameters configuring how health check and status should be
# configured.
# Sample url: http://localhost:8080/signserver/healthcheck/signserverhealth
#
# Setting specifying which remote IPs that may call this healthcheck servlet. Use ';' for between multiple IPs. 
# Default : 127.0.0.1
#healthcheck.authorizedips=127.0.0.1;::1;0:0:0:0:0:0:0:1

# Parameter to set the number of Mega Bytes of memory that must be free before removing     
# the node out of the cluster.
# Default : 1
#healthcheck.minimumfreememory=1

# Parameter indicating the string that should be used to do 
# a minimal check that the database is working. May differ between databases.
# Default : Select count(*) from signerconfigdata
#healthcheck.checkdbstring=Select count(*) from signerconfigdata

# Parameter to specify location of file containing information about maintenance
# Use this file to specify weather to include node in healthcheck or report as down for maintenance, 
# which will return an error message in the format "MAINT: <property name>",
# where <property name> is the property name specified below.
# Default: empty (not used)
#healthcheck.maintenancefile=maintenance.properties

# Parameter to configure name of maintenance property, default = DOWN_FOR_MAINTENANCE
# The healthcheck.maintenancefile should contain a single line like this:
# DOWN_FOR_MAINTENANCE=true
# Where the node will be down for maintenance if the property is true, and not down for maintenance if the property is false.
# Default: DOWN_FOR_MAINTENANCE
#healthcheck.maintenancepropertyname=DOWN_FOR_MAINTENANCE


# ------------- Status Repository Configuration --------------------------------

# Status Repository Audit Logging
#
# The following options are possible:
#   ALL (default):  All updates are logged (even if the value did not change).
#   CHANGES:        Only updates where the value is changed are logged.
#   NONE:           No updates are logged.
#statusrepository.log=ALL


# ------------- Cluster Deployment Configuration -------------------------------
# Configuration used to centrally deploy the application server in a
# clustered environment. Currently are up to 6 nodes supported to
# were the application is deployed.
#
# Each node should run SSH with a trusting the key defined in deploy.ssh.keyfilepath
# Each node should have a mirrored JBoss installation at the same place as
# the current node.
#
# To add a node, uncomment the deploy.hostname.nodeX property and set it's property
# If no node is defined will JBOSS_HOME at localhost be used as deploy dir.

#deploy.hostname.node1=
#deploy.hostname.node2=
#deploy.hostname.node3=
#deploy.hostname.node4=
#deploy.hostname.node5=
#deploy.hostname.node6=

# User to use for the SSH session
# Default: jboss
#deploy.ssh.user=jboss

# Path to the id_rsa (or equivalent) file for SSH authentication
# Default: /home/jboss/.ssh/id_rsa
#deploy.ssh.keyfilepath=

# Path to the known hosts file
# Default: /home/jboss/.ssh/known_hosts
#deploy.ssh.knownhostsfile=

# Path to the location where the JBoss instance is located at the JBoss services.
# Default: /home/jboss/jboss
#deploy.ssh.appsrvhome=

# Tomcat version. If SignServer should use a HTTPS interface it will
# deploy a keystore to all nodes in the cluster. Depending on the version
# of tomcat is the files placed a little different.
# Available options are: tomcat41, tomcat50, tomcat55
# Default: tomcat55
#deploy.tomcat.version=
