#
# $Id: signserver_build.properties.sample,v 1.1 2007-02-27 16:18:15 herrvendil Exp $
#
# File containting the build properties of the sign server
# 
#

# JBoss used during development
# Default: $JBOSS_HOME
#jboss.home=${basedir}/../../jboss-4.0.1

#jboss.home=${env.JBOSS_HOME}

# which compiler to use
# default: javac
#build.compiler=jikes

# which java version to use 1.4, 1.5 or 1.6
# default: 1.5
#server.java.target=1.5
#client.java.target=1.5


# Default content encoding used to display JSP pages.
# Default: ISO-8859-1
#web.contentencoding=ISO-8859-1

# JBoss Configuration to deploy to available options are:
#   all
#   default 
#   minimal
# Default : default
#jboss.config=default

# Jboss Deploy directory, available options are:
# deploy 
# farm
# Default : deploy
#jboss.deploy=deploy


#PrimeCardHSM Specific Properties
#Uncomment to when using PrimeCardHSM or RMI-SSL, default false.
#primeCard.use=true
#primeCard.home=${env.PRIMECARD_HOME}

# ------------ Web GUI configuration ---------------------

# set this if HTTPS should be disabled.
#j2ee.web-nohttps=true

# When upgrading, the important options are:
# - httpsserver.password

# Password for java trust keystore (JAVA_HOME/jre/lib/security/cacerts), default is changeit.
#java.trustpassword=changeit

#Path to the root certificate to be imported into the java truststore.
#java.trustcert=p12/rootcert.cer

# The password used to protect the web servers SSL keystore.
#httpsserver.password=serverpwd


# The public port JBoss will listen to http on
# Default 8080
#httpserver.pubhttp=8080

# The public port JBoss will listen to https on, no client cert required
# Default 8442
#httpserver.pubhttps=8442

# The private port JBoss will listen to https on, client cert required
# Default 8443
#httpserver.privhttps=8443



# Default content encoding used to display JSP pages, for example ISO-8859-1, UTF-8 or GBK.
# Default: ISO-8859-1
#web.contentencoding=ISO-8859-1

# ------------- Database configuration ------------------------

# jndi name of the datasource to use in deployment descriptors of ejbs.
# default: SignServerDS
datasource.jndi-name=SignServerDS

# Prefix for the jndi name of the datasource to use in deployment descriptors of ejbs. 
# JBoss requires 'java:/' as prefix, while weblogic does not want anything ('')
# default: java:/
#datasource.jndi-name-prefix=java:/
#datasource.jndi-name-prefix=

# The database name selected for deployment, used to copy XDoclet merge files.
# All supported databases are defined below, others can easily be added
# Default: hsqldb
#database.name=mysql
#database.name=postgres
#database.name=mssql2000
#database.name=oracle
#database.name=sapdb
#database.name=sybase

# The datasource mapping selected for deployment.
# The J2EE server needs to be configured with the appropriate datasource mapping. 
# For JBoss this maps to a setting in standardjbosscmp-jdbc.xml and must match the database chosen above.
# All supported mappings are defined below, others can easily be added
# Default: Hypersonic SQL
#datasource.mapping=mySQL
#datasource.mapping=PostgreSQL 7.2
#datasource.mapping=PostgreSQL 8.0
#datasource.mapping=MS SQLSERVER2000
#datasource.mapping=Oracle8
#datasource.mapping=Oracle9i
#datasource.mapping=SapDB
#datasource.mapping=Sybase

# Database connection url.
# This is the URL used to connect to the database, used to configure a new datasource in JBoss.
# Default: jdbc:hsqldb:${jboss.server.data.dir}${/}hypersonic${/}localDB
# Mysql standard
#database.url=jdbc:mysql://127.0.0.1:3306/signserver
#Mysql Clusters should use something like
#database.url=jdbc:mysql://host1,host2/signserver?autoReconnect=true&failOverReadOnly=false&roundRobinLoadBalance=true
#atabase.url=jdbc:mysql://192.168.1.15,192.168.1.18/signserver
#database.url=jdbc:postgresql://127.0.0.1/signserver
#database.url=jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=signserver
#database.url=jdbc:oracle:thin:@127.0.0.1:1521:signserver
#database.url=jdbc:datadirect:oracle://127.0.0.1:1521;SID=signserver

# JDBC driver classname.
# The J2EE server needs to be configured with the appropriate JDBC driver for the selected database
# Default: org.hsqldb.jdbcDriver
#database.driver=com.mysql.jdbc.Driver
#database.driver=org.postgresql.Driver
#database.driver=com.microsoft.jdbc.sqlserver.SQLServerDriver
#database.driver=oracle.jdbc.driver.OracleDriver
#database.driver=com.ddtek.jdbc.oracle.OracleDriver

# Database username.
# Default: sa (works with hsqldb)
#database.username=signserver
#database.username=postgres

# Database password.
# Default: (blank works with hsqldb)
#database.password=foo123
#database.password=postgres


# alternative servlet definition
#ext.web.src=../needles/src/web/signserver
# the location of external code to be included
#src.external=../needles/tmp/bin/classes
