/* 
 * signserver.org specific styling 
 *
 * $Id$
 */

.content {
    margin-bottom: 1em;
    background-color: #f0f0f0;
    padding: 0.5em;
}

.label {
    /* background-color: #8ca8d0; */
    display: block;
    padding: 0.5em;
}
