
#top {
    position: relative;
    /*background-color: #036fab;*/
    color: white;
    /* padding: 5px; */
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px 0px 0px 0px;
}

#top-left {
    background: white;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
}

#top-right {
    background: white;
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: black;
    font-size: xx-small;
}

#top-right td {
    padding-top: 2px;
}

.top-right-c1 {
    font-weight: bold;
}

.top-right-c2 {
    font-style: italic;
}

#top-mid {
    margin: 10px;
    font-size: x-large;
    padding-top: 25px;
}

/*#top-user {
    text-align: right;
}*/

#top-menu {
    margin-left: 0px;
    background-color: #1F589F;
    padding: 0px;
    border-radius: 3px;
}

#top-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top-menu li {
    float: left;
}

#top-menu li.last {
    float:right;
}

#top-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#top-menu li a:hover {
    background-color: black;
}

li a.active {
    background-image: url(../images/selected-menu.png.xhtml?ln=default);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 10px;
    color: red;
}


#worker-menu, #cert-menu {
    /*float: left;*/
    /*width: 12em;*/
    
    margin-left: 0px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#worker-menu ul, #cert-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#worker-menu li, #cert-menu li {
    float: left;
}

#worker-menu li.last {
    float:right;
}

#worker-menu li a, #cert-menu li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    /*width: 12em;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#worker-menu li a:hover, #cert-menu li a:hover {
    background-color: black;
}

input[type="file"] {
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
input[type="file"]:hover {
    background-color: black;
    color: white;
}

.buttonNeutral {
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonNeutral:hover {
    background-color: black;
    color: white;
}
.buttonNeutral:disabled, .buttonNeutral:disabled:hover,
.buttonFeatured:disabled, .buttonFeatured:disabled:hover,
.buttonNegative:disabled, .buttonNegative:disabled:hover,
.buttonPositive:disabled, .buttonPositive:disabled:hover {
    background-color: whitesmoke;
    color: gray;
}

.buttonFeatured {
    background-color: #1F589F;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonFeatured:hover {
    background-color: black;
}

.buttonPositive {
    background-color: #53983C;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonPositive:hover {
    background-color: black;
}

.buttonNegative {
    background-color: #E73D35;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonNegative:hover {
    background-color: black;
}


.linkPositive, a:link.linkPositive, a:visited.linkPositive, a:link:hover.linkPositive, a:visited:hover.linkPositive {
    color: #53983C;
}

.linkNegative, a:link.linkNegative, a:visited.linkNegative, a:link:hover.linkNegative, a:visited:hover.linkNegative {
    color: #E73D35;
}


#header {
    /*background-color: #ece3a5;*/
    background-color: #dddddd;
    margin: 5px;
    padding: 10px;
    
}

#bottom {
    position: relative;
    /*background-color: #ece3a5;*/
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.full_content {
    margin: 10px;
    
}

.right_content {
    /*background-color: #dddddd;*/
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  /*color: black;*/
  font-weight : bold;
  /*text-decoration : underline;*/
}

#top-right a:link, #top-right a:visited {
    color: black;
}

#worker-actions {
    margin-left: 10px;
    margin-right: 10px;
}

#worker_content {
    margin: 10px;
}

table.dss1 {
    border-collapse: collapse;
    border: thin solid darkgray;
    margin: 5px;
}

thead.dss1, th.dss1, tfoot.dss1 {
    background: lightgray;
    padding: 5px;
}

td.dss1 {
    border-left: thin solid darkgray;
    border-right: thin solid darkgray;
}

td.viewAuthRuleType {
    border-left: thin solid darkgray;
    border-right: 0px;
}

td.viewAuthRuleValue {
    border-left: 0px;
    border-right: thin solid darkgray;
}


tr.dss1 {
    border-top: thin solid darkgray;
    border-bottom: thin solid darkgray;
    background-color: white;
}

tr.dss1_odd {
    border-top: thin solid darkgray;
    border-bottom: thin solid darkgray;
    background-color: #F2F5F9;
}

.notable {
    border: none;
    background: none;
}

.errorMessage {
    color: red;
}
.successMessage {
    color: green;
}
.warningMessage {
    color: orange;
}

.fileInputContainer {
    display: inline-block;
}
.fileInputTextarea {
    line-height: 100%;
}

.alertArea {
    background-color: yellow;
}

.topOutsideLink {
    color: black;
}
.clearBoth {
    clear: both;
}

.bottomText {
    font-size: x-small;
    color: gray;
}

.workerImage1 {
    height: 1em;
    padding-right: 0.25em;
}
.workerImage2 {
    height: 1em;
    margin-right: 0.25em;
}

.propertiesInputTextarea {
    width: 100%;
}

.centered {
    text-align: center;
}

.jsHidden {
    display: none;
}

.jsEnabled .jsHidden {
    display: initial;
}

.titleCell {
    font-weight: bold;
}

/** List/Add/Edit Worker Authorizations. */

.optionalArea {
    float: left;
    border: lightgray groove thin;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
}
.postOptionalArea {
    float: none;
    clear: both;
}

#editAuthRule {
    margin-bottom: 1em;
}

.editAuthRule {
    width: 100%;
    margin-bottom: 0.5em;
}

.importAuthRuleFromCert {
    float: left;
    border: lightgray groove thin;
    border-radius: 1em;
}

.viewAuthRuleCell{
    margin: 0.5em;
    padding: 0.5em;    
}

.selectedAuthType {
    font-weight: bold;
    background-color: #1F589F;
    color: white
}

.authTypeCell {
    height: 30px;
    border-bottom: thin solid black;
    margin: 0px 0px 0px 0px;
    padding: 0.5em;
}

.disabledAuthType {
    opacity: 0.5;
}

.authFieldsTable {    
    border-top: black solid thin;
    border-right: black solid thin;
    border-left: black solid thin;

}

.authFieldSelectedMark {
    text-align: center;
    font-size: larger;
}

.removeAuthType{
    margin-right: 0.5em;
    margin-left: 0.5em;
}