# GitHub Java
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/
.eclipse

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Netbeans
nb-configuration.xml
*/nbproject/project.properties

# Mac
.DS_Store
# Windows
Thumbs.db

# Maven
log/
target/

# maven-release-plugin
*.releaseBackup
release.properties

# Build/Distribution related
build/
dist/
dist-*/

# SignServer specific svn propget -R svn:ignore
.clover/
authenticode-test-files/

bin/p11ng-tool/
bin/p11ng-tool.cmd
bin/signserver-db/
bin/signserver-db.cmd
bin/timemonitor-in-background.sh
bin/signserver-gui/
bin/signserver-gui.cmd

conf/signserver_deploy.properties
conf/signserver_cli.properties
conf/databaseprotection.properties
conf/timemonitor.properties
conf/webtest.properties
conf/cesecore.properties
conf/timemonitor-log4j.properties
conf/signserver_build.properties
conf/admingui.properties

/doc/TimeMonitor-Manual.pdf
/doc/api/
/doc/howto-wrap*/
/doc/htdocs/docs/TimeMonitor-Manual.pdf

/doc/sample-configs/ms_authcode_cms_signer.properties
/doc/sample-configs/jarchive_cms_signer.properties
/doc/sample-configs/jarchive_signer.properties
/doc/sample-configs/ms_authcode_signer.properties
/doc/sample-configs/timemonitormanager.properties
/doc/sample-configs/keywrapping-*
/doc/sample-configs/pgpplainsigner.properties
/doc/sample-configs/masterlistsigner.properties
/doc/sample-configs/onetime-crypto.properties
/doc/sample-configs/extended_cms_signer.properties
/doc/sample-configs/extended_timestamp.properties
/doc/sample-configs/openpgpplainsigner*.properties
/doc/sample-configs/p11ng-*
/doc/sample-configs/debian*.properties
/doc/sample-configs/zone*.properties
/doc/sample-configs/appx*.properties
/doc/sample-configs/apk_*.properties
/doc/sample-configs/qos_*.properties

indir*/
jarsigner-test-files/

/lib/*.jar
/lib/*.mar
/lib/*.war
/lib/*.ear
/lib/*.zip
/lib/*.rar
/lib/nblibraries-private.properties
/lib/ext/cesecore-entity-*
/lib/ext/cesecore-common-*
/lib/ext/jsign-*
/lib/ext/clover-dir
/lib/ext/cesecore-ejb-*
/lib/ext/cesecore-interfaces-*
/lib/ext/cesecore-readme.*
/lib/ext/jna-*
/lib/ext/jnr-ffi-*
/lib/ext/apksig-*
/lib/ext/jdbc/*.jar

modules/SignServer-Admin-web/nbproject
modules/SignServer-AdminCLI/nbproject
modules/SignServer-Module-CMSSigner/.jacocoverage
modules/SignServer-Module-OpenPGP/nbproject
modules/SignServer-Module-Renewal/nbproject
modules/SignServer-Module-XAdES/.jacocoverage
modules/SignServer-Project/nbproject/private
modules/SignServer-Server/nbproject
modules/SignServer-Test-P11/ctb.log
modules/SignServer-Test-System/src/jndi.properties
modules/SignServer-Test-System/src/test/java/org/signserver/client/api/EightCA-use.crl
modules/SignServer-ejb/.ant-targets-build.xml
modules/mod-enterprise/SignServer-AdminGUI/connect.properties
modules/mod-enterprise/SignServer-AdminGUI/.~lock.admingui-splash.odg*
modules/mod-enterprise/SignServer-Module-TimeMonitorManager/.jacocoverage
modules/mod-enterprise/SignServer-Test-Enterprise/nbproject
modules/mod-enterprise/SignServer-TimeMonitor/.jacocoverage
modules/mod-enterprise/SignServer-TimeMonitor/doc/.~lock.TimeMonitor-Manual.*
modules/mod-enterprise/SignServer-TimeMonitor-Common/.jacocoverage
mods-available/

nodb
outdir*/
p12

res/edition.properties
res/deploytools/nbproject/private

statistics/
tmp

.externalToolBuilders
connect.properties
htdocs.tgz
maintenance.properties
signserver_audit.log
signserver_build.properties
signserver-timemonitor.log
test-config.properties
velocity.log
