
/*
#top {
    position: relative;

    color: white;

    padding: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

#top-left {
    background: white;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
}

#top-right {
    background: white;
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: black;
    font-size: xx-small;
}
*/

.SS_infoList {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.SS_infoItem {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400; /** Regular **/
    color: white;
}

.SS_infoItem > label {
    text-transform: capitalize;
}

.SS_infoItem > div {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

.kfds-header-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: 4rem;
    /*width: 100%;*/ /* Makes the menu bar act weird */
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    /*border-radius: 0.25rem;*/ /* Creates rounded edges on the header which makes the white background color show in the edges */
    background-color: #1E589F;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

@media (min-width: 768px) {
.kfds-header-container {
    min-height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    }
}

.kfds-header-left {
    display: grid;
    min-width: -webkit-max-content;
    min-width: max-content;
    flex: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
}


.kfds-header-brand {
    display: flex;
    width: 10rem;
    flex-direction: column;
}

@media (min-width: 768px) {
.kfds-header-brand {
    width: 25rem;
    }
}

.kfds-header-logo {
    width: 10rem;
    padding: 0.5rem;
}

@media (min-width: 768px) {
.kfds-header-logo {
    width: 20rem;
    }
}

.kfds-header-logo > a {
    cursor: pointer;
}

.kfds-header-logo > a > img {
    width: 100%;
}

.kfds-header-product {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: "Roboto", sans-serif;
    color: black;
}

.kfds-header-product-name {
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-transform: capitalize;
}

@media (min-width: 768px) {
.kfds-header-product-name {
    font-size: 1.5rem;
    line-height: 2rem;
    }
}

.kfds-header-product-version {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
.kfds-header-product-version {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    }
}

.kfds-header-right {
    display: flex;
    flex: 1 1 0%;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.kfds-header-container > .logo > .kfds-header-logo {
    
}

.hide-element {
    display: none;
}

/* #top-right td {
    padding-top: 2px;
}

.top-right-c1 {
    font-weight: bold;
}

.top-right-c2 {
    font-style: italic;
}

#top-mid {
    margin: 10px;
    font-size: x-large;
    padding-top: 25px;
} */

/*#top-user {
    text-align: right;
}*/

#top-menu {
    margin-left: 0px;
    background-color: #F0F1F6;
    padding: 0px;
    border-radius: 3px;
}

#top-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top-menu li {
    float: left;
}

#top-menu li.last {
    float:right;
}

#top-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#top-menu li a:hover {
    background-color: rgba(0, 12, 114, 0.15);
}

li a.active {
    background-image: url(../images/selected-menu.png.xhtml?ln=community);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 10px;
    color: red;
    background-color: rgba(0, 12, 114, 0.15);
}


#worker-menu, #cert-menu {
    /*float: left;*/
    /*width: 12em;*/
    
    margin-left: 0px;
    background-color: #008D7D;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#worker-menu ul, #cert-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#worker-menu li, #cert-menu li {
    float: left;
}

#worker-menu li.last {
    float:right;
}

#worker-menu li a, #cert-menu li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    /*width: 12em;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#worker-menu li a:hover, #cert-menu li a:hover {
    background-color: black;
}

input[type="file"] {
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
input[type="file"]:hover {
    background-color: black;
    color: white;
}

.buttonNeutral {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #1E589F;

    color: black;
    background-color: white;

    padding: 5px 10px;
    margin: 2px;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonNeutral:hover {
    background-color: black;
    color: white;
}
.buttonNeutral:disabled, .buttonNeutral:disabled:hover,
.buttonFeatured:disabled, .buttonFeatured:disabled:hover,
.buttonNegative:disabled, .buttonNegative:disabled:hover,
.buttonPositive:disabled, .buttonPositive:disabled:hover {
    background-color: whitesmoke;
    color: gray;
}

.buttonFeatured {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #1E589F;

    color: white;
    background-color: #1E589F;

    padding: 5px 10px;
    margin: 2px;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonFeatured:hover {
    background-color: black;
}

.buttonPositive {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #53983C;

    color: white;
    background-color: #53983C;

    padding: 5px 10px;
    margin: 2px;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonPositive:hover {
    background-color: black;
}

.buttonNegative {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #E73D35;

    color: white;
    background-color: #E73D35;

    padding: 5px 10px;
    margin: 2px;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonNegative:hover {
    background-color: black;
}


.linkPositive, a:link.linkPositive, a:visited.linkPositive, a:link:hover.linkPositive, a:visited:hover.linkPositive {
    color: #53983C;
}

.linkNegative, a:link.linkNegative, a:visited.linkNegative, a:link:hover.linkNegative, a:visited:hover.linkNegative {
    color: #E73D35;
}


#header {
    /*background-color: #ece3a5;*/
    background-color: #dddddd;
    margin: 5px;
    padding: 10px;
    
}

#bottom {
    position: relative;
    /*background-color: #ece3a5;*/
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.full_content {
    margin: 10px;
    
}

.right_content {
    /*background-color: #dddddd;*/
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #1E589F;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    font-weight: 400;
}

#top a:link:hover, #top a:visited:hover  {
  /*color: black;*/
  /*font-weight : bold;*/
  /*text-decoration : underline;*/
}

#top-right a:link, #top-right a:visited {
    color: black;
}

#worker-actions {
    margin-left: 10px;
    margin-right: 10px;
}

#worker_content {
    margin: 10px;
}

table.dss1 {
    border-collapse: collapse;
    border: thin solid darkgray;
    margin: 5px;
}

.notable {
    border: none;
    background: none;
}

.fileInputContainer {
    display: inline-block;
}
.fileInputTextarea {
    line-height: 100%;
}

.alertArea {
    background-color: yellow;
}

.alertBox {
    border: thin solid #B35E5E; 
    background-color: #E5CFCF;
    float:left; 
    padding: 0.5em; 
    /* border-radius: 4px;  */
    /* -webkit-border-radius: 4px; */
}

.topOutsideLink {
    color: black;
}
.clearBoth {
    clear: both;
}

.bottomText {
    font-size: x-small;
    color: gray;
}


.centered {
    text-align: center;
}

.jsHidden {
    display: none;
}

.jsEnabled .jsHidden {
    display: initial;
}

.titleCell {
    font-weight: bold;
}

#container1 {
    margin: 10px;
}