<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
   <persistence-unit name="SignServerJPA">
      <jta-data-source>${datasource.jndi-name-prefix}${datasource.jndi-name}</jta-data-source>
      <mapping-file>META-INF/entity-mappings.xml</mapping-file>
       <properties>
            <property name="hibernate.dialect" value="${hibernate.dialect}"/>
            <property name="toplink.ddl-generation" value="create-tables"/>
       </properties>
   </persistence-unit>
</persistence>