<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>ClientWS</display-name>

    <filter>
        <filter-name>QoSFilter</filter-name>
        <filter-class>org.signserver.web.common.filters.QoSFilter</filter-class>
        <async-supported>true</async-supported>
        <!-- The amount of milliseconds to wait attempting to acquire the semaphore. -->
        <!-- Uncomment this block to override the default value.
        <init-param>
            <param-name>waitMs</param-name>
            <param-value>50</param-value>
        </init-param>
        -->
        <!--  -->
        <!-- Uncomment this block to override the default value:
        <init-param>
            <param-name>suspendMs</param-name>
            <param-value>-1</param-value>
        </init-param>
        -->
    </filter>
    <filter-mapping>
        <filter-name>QoSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ClientWS</servlet-name>
        <servlet-class>org.signserver.clientws.ClientWS</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PriorityClientWS</servlet-name>
        <servlet-class>org.signserver.clientws.ClientWS</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>ClientWS</servlet-name>
        <url-pattern>/ClientWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriorityClientWS</servlet-name>
        <url-pattern>/PriorityClientWS</url-pattern>
    </servlet-mapping>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>GET</http-method-omission>
            <http-method-omission>POST</http-method-omission>
            <http-method-omission>HEAD</http-method-omission>
        </web-resource-collection>
        <auth-constraint />
        </security-constraint>
</web-app>
