<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:j2ee="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SignServer Server Servlet Configuration</display-name>
    <servlet>
        <servlet-name>GenericProcessServlet</servlet-name>
        <servlet-class>org.signserver.web.GenericProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkerServlet</servlet-name>
        <servlet-class>org.signserver.web.WorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartServiceServlet</servlet-name>
        <servlet-class>org.signserver.web.StartServicesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GenericWSServlet</servlet-name>
        <servlet-class>org.signserver.web.GenericWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SODProcessServlet</servlet-name>
        <servlet-class>org.signserver.web.SODProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WS31Dispatcher</servlet-name>
        <servlet-class>org.signserver.web.WS31Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validation31Dispatcher</servlet-name>
        <servlet-class>org.signserver.web.Validation31Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGUIDistServlet</servlet-name>
        <servlet-class>org.signserver.web.AdminGUIDistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WS31Dispatcher</servlet-name>
        <url-pattern>/signserverws/signserverws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validation31Dispatcher</servlet-name>
        <url-pattern>/validationws/validationws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessServlet</servlet-name>
        <url-pattern>/tsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessServlet</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerServlet</servlet-name>
        <url-pattern>/worker/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartServiceServlet</servlet-name>
        <url-pattern>/startservices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericWSServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SODProcessServlet</servlet-name>
        <url-pattern>/sod</url-pattern>
    </servlet-mapping>
    <!-- block HTTP methods other than GET and POST -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <servlet-mapping>
        <servlet-name>AdminGUIDistServlet</servlet-name>
        <url-pattern>/admingui-dist/signserver-admingui.zip</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpages/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/errorpages/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorpages/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/errorpages/error503.jsp</location>
    </error-page>
</web-app>
