<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SignServer Server Servlet Configuration</display-name>
    <filter>
        <filter-name>ClickjackFilterDeny</filter-name>
        <filter-class>org.signserver.web.common.owasp.filters.ClickjackFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>mode</param-name>
            <param-value>DENY</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ContentSecurityPolicyFilter</filter-name>
        <filter-class>org.signserver.web.common.owasp.filters.ContentSecurityPolicyFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExtensionFilter</filter-name>
        <filter-class>org.signserver.web.common.filters.ExtensionFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>ClickjackFilterDeny</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExtensionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--<filter-mapping>
        <filter-name>ContentSecurityPolicyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GenericProcessServlet</servlet-name>
        <servlet-class>org.signserver.web.GenericProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericProcessWorkerServlet</servlet-name>
        <servlet-class>org.signserver.web.GenericProcessWorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SODProcessServlet</servlet-name>
        <servlet-class>org.signserver.web.SODProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SODProcessWorkerServlet</servlet-name>
        <servlet-class>org.signserver.web.SODProcessWorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WS31Dispatcher</servlet-name>
        <servlet-class>org.signserver.web.WS31Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validation31Dispatcher</servlet-name>
        <servlet-class>org.signserver.web.Validation31Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGUIDistServlet</servlet-name>
        <servlet-class>org.signserver.web.AdminGUIDistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientCLIDistServlet</servlet-name>
        <servlet-class>org.signserver.web.ClientCLIDistServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WS31Dispatcher</servlet-name>
        <url-pattern>/signserverws/signserverws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validation31Dispatcher</servlet-name>
        <url-pattern>/validationws/validationws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessServlet</servlet-name>
        <url-pattern>/tsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessServlet</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericProcessWorkerServlet</servlet-name>
        <url-pattern>/worker/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SODProcessServlet</servlet-name>
        <url-pattern>/sod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SODProcessWorkerServlet</servlet-name>
        <url-pattern>/sodworker/*</url-pattern>
    </servlet-mapping>
    <!-- block HTTP methods other than GET and POST -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>GET</http-method-omission>
            <http-method-omission>POST</http-method-omission>
            <http-method-omission>HEAD</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <servlet-mapping>
        <servlet-name>AdminGUIDistServlet</servlet-name>
        <url-pattern>/admingui-dist/signserver-admingui.zip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientCLIDistServlet</servlet-name>
        <url-pattern>/clientcli-dist/signserver-clientcli.zip</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <!-- Special page for 404 -->
    <error-page>
        <exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type>
        <location>/error-404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/error-expiredview.xhtml</location>
    </error-page>
    <!-- Global error page for all other errors -->
    <error-page>
        <location>/error.xhtml</location>
    </error-page>
</web-app>
