<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:j2ee="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SignServer Server Documentation</display-name>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpages/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/errorpages/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorpages/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>413</error-code>
        <location>/errorpages/error413.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/errorpages/error503.jsp</location>
    </error-page>
</web-app>