Source: signserver3.3
Section: misc
Priority: optional
Maintainer: Markus Kilås <markus@primekey.se>
Build-Depends: ant (>= 1.8.0), ant-optional, debhelper (>= 5),
 default-jdk (>= 1.6),
 glassfish-appserv (>=1:2ur2-b04-6),
 glassfish-javaee (>=1:2ur2-b04-6),
 junit (>=3.8.2-4),
 libbcprov1.47-java (>=1.47),
 libbcpkix1.47-java (>=1.47),
 libcertcvc-java (>= 1.2.11),
 libcommons-cli-java,
 libcommons-fileupload-java,
 libcommons-configuration-java,
 libcommons-lang-java,
 libgnujaf-java,
 libgnumail-java,
 libhibernate-annotations-java,
 libhibernate3-java,
 libjaxp1.3-java (>=1.3.04-5ubuntu2),
 libjboss-ejb3x-java (>=4.2.3.GA-1),
 libjcommon-java,
 libjdom1-java,
 libjfreechart-java,
 libjline-java,
 libjsch-java,
 liblog4j1.2-java,
 libnekohtml-java,
 libquartz-java,
 libservlet2.5-java,
 libxalan2-java,
 libxerces2-java,
 velocity,
 libswingworker-java,
 libappframework-java,
 libbeansbinding-java,
 libxmltask-java,
 libxml-security-java (>=1.4),
 libjline-java,
 libdom4j-java,
 libjaxen-java
Standards-Version: 3.7.2
Homepage: http://www.signserver.org/

Package: signserver3.3
Architecture: all
Depends: libsignserver3.3-common, signserver3.3-server, libsignserver3.3-modules, ${misc:Depends}
Suggests: signserver3.3-admingui, signserver3.3-client, signserver3.3-doc
Description: SignServer automated signing server
 SignServer is an automated signing server

Package: libsignserver3.3-common
Architecture: all
Depends: libcertcvc-java (>= 1.2.11), 
 libcertcvc-java,
 libcommons-lang-java, 
 libcommons-configuration-java, 
 libcommons-cli-java,
 libcommons-io-java,
 liblog4j1.2-java,  
 libbcprov1.47-java (>= 1.47), 
 libbcpkix1.47-java (>=1.47), 
 libjboss-j2ee-java,
 libjboss-ejb3x-java (>=4.2.3.GA-1),
 libjline-java,
 ${misc:Depends}
Description: SignServer automated signing server
 Common classes for different parts of signserver

Package: signserver3.3-server
Architecture: all
Depends: libsignserver3.3-common, 
 ant (>= 1.7.1),
 libhibernate3-java, 
 libhibernate-annotations-java, 
 libcommons-fileupload-java,
 libquartz-java, 
 ${misc:Depends}
Description: SignServer automated signing server
 SignServer is an automated signing server

Package: libsignserver3.3-modules
Architecture: all
Depends: signserver3.3-server, libsignserver3.3-common,  
 libxml-security-java (>=1.4),
 libdom4j-java,
 libjaxen-java,
 libxerces2-java,
 ${misc:Depends}
Description: SignServer automated signing server
 Modules for SignServer

Package: signserver3.3-admingui
Architecture: all
Depends: libsignserver3.3-common, signserver3.3-client, 
 libbeansbinding-java, 
 libswingworker-java, 
 libappframework-java,
 ${misc:Depends}
Description: SignServer automated signing server
 Admin GUI for SignServer

Package: signserver3.3-client
Architecture: all
Depends: libsignserver3.3-common, ${misc:Depends}
Description: SignServer automated signing server
 Client for SignServer

Package: signserver3.3-doc
Architecture: all
Depends:  ${misc:Depends}
Description: SignServer automated signing server
 Documentation for SignServer
