#!/usr/bin/make -f
# Based on http://pkg-java.alioth.debian.org/docs/tutorial.html

export DH_VERBOSE=1
export JAVA_HOME=/usr/lib/jvm/default-java
export APPSRV_HOME=${CURDIR}/debian/temp/appserver

build: build-stamp
build-stamp:
	dh_testdir
#	Mock appserver
	mkdir -pv ${APPSRV_HOME}/lib
	rm -f ${APPSRV_HOME}/lib/appserv-rt.jar
	ln -s /usr/share/java/glassfish-appserv-rt.jar ${APPSRV_HOME}/lib/appserv-rt.jar
#	Dependencies
	mkdir -p lib/ext/ext
	mkdir -p lib/ext/1.6
	mkdir -p lib/ext/ext/ejb
	mkdir -p lib/ext/javaee-web-api-6.0
	mkdir -p lib/ext/javaee-api-6.0
	mkdir -p lib/ext/quartz
	mkdir -p lib/ext/hibernate
	mkdir -p lib/ext/module/tsa/1.6
	mkdir -p lib/ext/module/pdfsigner/itext
	mkdir -p lib/ext/module/odfsigner
	mkdir -p lib/ext/module/ooxmlsigner
	mkdir -p lib/ext/swing-app-framework
	mkdir -p lib/ext/beans-binding
	mkdir -p lib/ext/reports/
	mkdir -p lib/ext/ext/velocity
	mkdir -p ${APPSRV_HOME}/client
#	ejbca-util-signserver
	ln -s /usr/share/java/ejbca-util-signserver.jar lib/ext/ejbca-util.jar
	ln -s /usr/share/java/cert-cvc.jar lib/ext/cert-cvc.jar
	ln -s /usr/share/java/commons-collections3.jar lib/ext/commons-collections-3.2.jar
	ln -s /usr/share/java/commons-io.jar lib/ext/commons-io-1.4.jar
	ln -s /usr/share/java/commons-logging.jar lib/ext/commons-logging.jar
	ln -s /usr/share/java/jboss-ejb3x.jar lib/ext/ext/ejb/jboss-ejb3x.jar
	ln -s /usr/share/java/commons-configuration.jar lib/ext/
#	Log4J
	ln -s /usr/share/java/log4j-1.2.jar lib/ext/log4j.jar
#	Servlet
	ln -s /usr/share/java/servlet-api-2.5.jar lib/ext/ext/servlet-2.3.jar
	ln -s /usr/share/java/servlet-api-2.5.jar lib/ext/javaee-web-api-6.0/javaee-web-api-6.0.jar
#	ln -s /usr/share/java/servlet-api-2.5.jar ${APPSRV_HOME}/lib/servlet-api.jar
#	Bouncy Castle
	ln -s /usr/share/java/bcprov.jar lib/ext/1.6/bcprov-jdk.jar
	ln -s /usr/share/java/bcmail.jar lib/ext/1.6/bcmail-jdk.jar
	ln -s /usr/share/java/bctsp.jar lib/ext/1.6/bctsp-jdk.jar
#	Persistence
	ln -s /usr/share/java/hibernate3.jar lib/ext/hibernate/
	ln -s /usr/share/java/hibernate-annotations.jar lib/ext/hibernate/
	ln -s /usr/share/java/hibernate-entitymanager.jar lib/ext/hibernate/
	ln -s /usr/share/java/hibernate-core.jar lib/ext/hibernate/
#	EJB
	ln -s /usr/share/java/glassfish-javaee.jar lib/ext/ext/ejb/jboss-j2ee.jar
	ln -s /usr/share/java/glassfish-javaee.jar ${APPSRV_HOME}/client/jboss-j2ee.jar
	ln -s /usr/share/java/glassfish-javaee.jar lib/ext/hibernate/ejb3-persistence.jar
	ln -s /usr/share/java/glassfish-javaee.jar lib/ext/javaee-api-6.0/javaee-api-6.0.jar
#	Commons CLI
	ln -s /usr/share/java/commons-cli.jar lib/ext/ext/commons-cli-1.0.jar
	ln -s /usr/share/java/commons-lang-2.4.jar lib/ext/
#	Quartz
	ln -s /usr/share/java/quartz-1.6.6.jar lib/ext/quartz/quartz-1.6.0.jar
#	Commons FileUpload
	ln -s /usr/share/java/commons-fileupload.jar lib/ext/commons-fileupload-1.2.1.jar
#	Swing Application Framework		
	ln -s /usr/share/java/AppFramework-1.03.jar lib/ext/swing-app-framework/appframework-1.0.3.jar
	ln -s /usr/share/java/swing-worker-1.1.jar lib/ext/swing-app-framework/swing-worker-1.1.jar
	ln -s /usr/share/java/beansbinding.jar lib/ext/beans-binding/beansbinding-1.2.1.jar
#	itext
	ln -s /usr/share/java/itext.jar lib/ext/module/pdfsigner/itext/itext.jar
#	jfreechart
	ln -s /usr/share/java/jfreechart.jar lib/ext/reports/jfreechart-1.0.9.jar
	ln -s /usr/share/java/jcommon.jar lib/ext/reports/jcommon-1.0.12.jar
#	velocity
	ln -s /usr/share/java/velocity.jar lib/ext/ext/velocity/
	ln -s /usr/share/java/xmltask.jar lib/ext/ext/

#	Configuration
	echo "includemodulesinbuild=false" > conf/signserver_build.properties

#	Disable modules with unsatisfied dependencies
	echo "module.odfsigner.enabled=false" >> conf/signserver_build.properties
	echo "module.ooxmlsigner.enabled=false" >> conf/signserver_build.properties

	echo "signserverclientws.enabled=true" >> conf/signserver_build.properties
	echo "module.renewal.enabled=true" >> conf/signserver_build.properties

#	Patch AdminGUI to use the GTK look and feel (DSS-319)
	sed -i 's/Application.lookAndFeel.*=.*/Application.lookAndFeel = com.sun.java.swing.plaf.gtk.GTKLookAndFeel/g' modules/SignServer-AdminGUI/src/org/signserver/admin/gui/resources/SignServerAdminGUIApplication.properties


#	Update paths to work with unprivileged user
	sed -i 's/tmp=.*/tmp=\/tmp\/signserver-$${user.name}/g' res/signserver-project.properties
	sed -i 's/ear.dist.file=.*/ear.dist.file=$${tmp}\/dist\/signserver.ear/g' res/signserver-project.properties

	mkdir -p mods-available
	ant -q debian-pkgdist | grep -v "Trying to override old definition of task http://www.netbeans.org/" | grep -v "org/netbeans/modules/java/j2seproject/copylibstask/antlib.xml"

	touch $@

clean:
	dh_testdir
	dh_testroot
#	Mock appserver
	mkdir -pv ${APPSRV_HOME}/lib
	rm -f ${APPSRV_HOME}/lib/appserv-rt.jar
	ln -s /usr/share/java/glassfish-appserv-rt.jar ${APPSRV_HOME}/lib/appserv-rt.jar
#	Clean
	ant -q clean | grep -v "Trying to override old definition of task http://www.netbeans.org/" | grep -v "org/netbeans/modules/java/j2seproject/copylibstask/antlib.xml"
	rm lib/ext/*.jar -f
	rm lib/ext/ext -rf
	rm lib/ext/hibernate -rf
	rm lib/ext/quartz -rf
	rm lib/ext/1.6 -rf
	rm lib/ext/javaee-web-api-6.0 -rf
	rm lib/ext/javaee-api-6.0 -rf
	rm lib/ext/swing-app-framework -rf
	rm lib/ext/beans-binding -rf
	rm lib/ext/reports -rf
	rm lib/ext/module/pdfsigner/itext/ -rf
	rm ${APPSRV_HOME} -rf
	rm -f build-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep 
	dh_installdirs

#	Install libsignserver3.3-common
	mkdir -p debian/libsignserver3.3-common/
	cp -rv dist-debian/libsignserver-common/*  debian/libsignserver3.3-common/
	rm debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext -rf

	mkdir -p debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext
	ln -s /usr/share/java/commons-lang-2.4.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/commons-lang-2.4.jar
	ln -s /usr/share/java/log4j-1.2.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/log4j.jar
	mkdir -p debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/1.6
	ln -s /usr/share/java/bcmail.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/1.6/bcmail-jdk.jar
	ln -s /usr/share/java/bctsp.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/1.6/bctsp-jdk.jar
	ln -s /usr/share/java/bcprov.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/1.6/bcprov-jdk.jar
	mkdir -p debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/ext
	mkdir -p debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/ext/ejb
	ln -s /usr/share/java/jboss-j2ee.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/ext/ejb/jboss-j2ee.jar
#	ln -s /usr/share/java/servlet-api-2.5.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/ext/servlet-2.3.jar
	ln -s /usr/share/java/commons-cli.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/ext/commons-cli-1.0.jar
	cp lib/nblibraries.properties debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/nblibraries.properties
	ln -s /usr/share/java/ejbca-util-signserver.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/ejbca-util.jar
	ln -s /usr/share/java/cert-cvc.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/cert-cvc.jar
	ln -s /usr/share/java/commons-configuration.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/
	ln -s /usr/share/java/commons-collections3.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/commons-collections-3.2.jar
	ln -s /usr/share/java/commons-logging.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/commons-logging.jar
	ln -s /usr/share/java/commons-io.jar debian/libsignserver3.3-common/usr/share/signserver3.3/lib/ext/commons-io-1.4.jar

#	Install libsignserver3.3-modules
	mkdir -p debian/libsignserver3.3-modules/
	cp -r dist-debian/libsignserver-modules/* debian/libsignserver3.3-modules/
	mkdir -p debian/libsignserver3.3-modules/usr/share/signserver3.3/lib/ext/module/pdfsigner/itext
	ln -s /usr/share/java/itext.jar debian/libsignserver3.3-modules/usr/share/signserver3.3/lib/ext/module/pdfsigner/itext/itext.jar

#	Install signserver3.3-admingui
	mkdir -p debian/signserver3.3-admingui/bin
	cp -r dist-debian/signserver-admingui/* debian/signserver3.3-admingui/
	mkdir -p debian/signserver3.3-admingui/usr/share/icons
	cp modules/SignServer-AdminGUI/src/org/signserver/admin/gui/resources/cogwheel_gear_zahnrad_6.png debian/signserver3.3-admingui/usr/share/icons/signserver-admingui.png
	mkdir -p debian/signserver3.3-admingui/usr/share/applications
	cp debian/signserver-admingui-local.desktop debian/signserver3.3-admingui/usr/share/applications/
	cp debian/signserver-admingui-ws.desktop debian/signserver3.3-admingui/usr/share/applications/
	mkdir debian/signserver3.3-admingui/usr/bin

	chmod +x debian/signserver3.3-admingui/usr/share/signserver3.3/bin/signserver-gui
	ln -sf /usr/share/signserver3.3/bin/signserver-gui debian/signserver3.3-admingui/usr/bin/

	mkdir -p debian/signserver3.3-admingui/usr/share/signserver3.3/lib/ext/swing-app-framework
	ln -s /usr/share/java/AppFramework-1.03.jar debian/signserver3.3-admingui/usr/share/signserver3.3/lib/ext/swing-app-framework/appframework-1.0.3.jar
	ln -s /usr/share/java/swing-worker-1.1.jar debian/signserver3.3-admingui/usr/share/signserver3.3/lib/ext/swing-app-framework/swing-worker-1.1.jar
	mkdir -p debian/signserver3.3-admingui/usr/share/signserver3.3/lib/ext/beans-binding
	ln -s /usr/share/java/beansbinding.jar debian/signserver3.3-admingui/usr/share/signserver3.3/lib/ext/beans-binding/beansbinding-1.2.1.jar

#	Install signserver3.3-client
	mkdir -p debian/signserver3.3-client/usr/bin/
	cp -r dist-debian/signserver-client/* debian/signserver3.3-client/
	chmod +x debian/signserver3.3-client/usr/share/signserver3.3/bin/signclient
	ln -sf /usr/share/signserver3.3/bin/signclient debian/signserver3.3-client/usr/bin/

#	Install signserver3.3-server
	mkdir -p debian/signserver3.3-server/usr/bin
	cp -rv dist-debian/signserver-server/* debian/signserver3.3-server/
	rm debian/signserver3.3-server/usr/share/signserver3.3/lib/ext -rf
	chmod +x debian/signserver3.3-server/usr/share/signserver3.3/bin/signserver
	ln -sf /usr/share/signserver3.3/bin/signserver debian/signserver3.3-server/usr/bin/

	chmod +x debian/signserver3.3-server/usr/share/signserver3.3/bin/ant
	ln -sf /usr/share/signserver3.3/bin/ant debian/signserver3.3-server/usr/bin/signant

	mkdir -p debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/lucene-core-2.4.1.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/slf4j-api-1.5.2.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/slf4j-log4j12.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/javassist-3.4.GA.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/ejb3-persistence.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/hibernate-search-3.1.1.GA.jar
	ln -s /usr/share/java/hibernate-annotations.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/hibernate-annotations.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/dom4j-1.6.1.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/jta-1.1.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/antlr-2.7.6.jar
	ln -s /usr/share/java/hibernate-core.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/hibernate-core.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/hibernate-commons-annotations.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/hibernate-validator-3.1.0.GA.jar
	ln -s /usr/share/java/hibernate-entitymanager.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/hibernate/hibernate-entitymanager.jar
	mkdir -p debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/javaee-web-api-6.0
#	ln -s /usr/share/java/servlet-api-2.5.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/javaee-web-api-6.0/javaee-web-api-6.0.jar
	mkdir -p debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/ext
	mkdir -p debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/ext/ejb
#	ln -s /usr/share/java/jboss-ejb3x.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/ext/ejb/jboss-ejb3x.jar
#	ln -s debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/ext/ejb/jboss-j2ee.jar
	mkdir -p debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/javaee-api-6.0
#	ln -s /usr/share/java/glassfish-javaee.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/javaee-api-6.0/javaee-api-6.0.jar
	ln -s /usr/share/java/commons-fileupload.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/commons-fileupload-1.2.1.jar
	mkdir -p debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/quartz
	ln -s /usr/share/java/quartz-1.6.6.jar debian/signserver3.3-server/usr/share/signserver3.3/lib/ext/quartz/quartz-1.6.0.jar

	chmod +x debian/signserver3.3-server/usr/share/signserver3.3/bin/signserver
	chmod +x debian/signserver3.3-server/usr/share/signserver3.3/bin/ant

#	Install signserver3.3-doc
	mkdir -p debian/signserver3.3-doc
	cp -rv dist-debian/signserver-doc/* debian/signserver3.3-doc/


binary-arch: build install
#	Java packages are arch: all, nothing to do here

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install --list-missing --sourcedir=debian/ejbca-util-signserver
#       dh_installmenu
#       dh_installdebconf
#       dh_installlogrotate
#       dh_installemacsen
#       dh_installpam
#       dh_installmime
#       dh_python
#       dh_installinit
#       dh_installcron
#       dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#       dh_perl
#       dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install