
#top {
    position: relative;
    /*background-color: #036fab;*/
    color: white;
    /* padding: 5px; */
    padding: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

#top-left {
    background: white;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
}

#top-right {
    background: white;
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: black;
    font-size: xx-small;
}

#top-right td {
    padding-top: 2px;
}

.top-right-c1 {
    font-weight: bold;
}

.top-right-c2 {
    font-style: italic;
}

#top-mid {
    margin: 10px;
    font-size: x-large;
    padding-top: 25px;
}

/*#top-user {
    text-align: right;
}*/

#top-menu {
    margin-left: 0px;
    background-color: #53983C;
    padding: 0px;
    border-radius: 3px;
}

#top-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top-menu li {
    float: left;
}

#top-menu li.last {
    float:right;
}

#top-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#top-menu li a:hover {
    background-color: black;
}

li a.active {
    background-image: url(../images/selected-menu.png.xhtml?ln=default);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 10px;
    color: red;
}


#worker-menu, #cert-menu {
    /*float: left;*/
    /*width: 12em;*/
    
    margin-left: 0px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#worker-menu ul, #cert-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#worker-menu li, #cert-menu li {
    float: left;
}

#worker-menu li.last {
    float:right;
}

#worker-menu li a, #cert-menu li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    /*width: 12em;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#worker-menu li a:hover, #cert-menu li a:hover {
    background-color: black;
}

input[type="file"] {
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
input[type="file"]:hover {
    background-color: black;
    color: white;
}

#header {
    /*background-color: #ece3a5;*/
    background-color: #dddddd;
    margin: 5px;
    padding: 10px;
    
}

#bottom {
    position: relative;
    /*background-color: #ece3a5;*/
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.full_content {
    margin: 10px;
    
}

.right_content {
    /*background-color: #dddddd;*/
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  /*color: black;*/
  font-weight : bold;
  /*text-decoration : underline;*/
}

#top-right a:link, #top-right a:visited {
    color: black;
}

#worker-actions {
    margin-left: 10px;
    margin-right: 10px;
}

#worker_content {
    margin: 10px;
}

table.dss1 {
    border-collapse: collapse;
    border: thin solid darkgray;
    margin: 5px;
}

.notable {
    border: none;
    background: none;
}

.fileInputContainer {
    display: inline-block;
}
.fileInputTextarea {
    line-height: 100%;
}

.alertArea {
    background-color: yellow;
}

.topOutsideLink {
    color: black;
}
.clearBoth {
    clear: both;
}

.bottomText {
    font-size: x-small;
    color: gray;
}


.centered {
    text-align: center;
}

.jsHidden {
    display: none;
}

.jsEnabled .jsHidden {
    display: initial;
}

.titleCell {
    font-weight: bold;
}