/** PrimeKey Fonts **/
/* Roboto-Light */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default");
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default?&#iefix") format("embedded-opentype"),
       url("../fonts/Roboto/Roboto-Light.woff.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.woff2.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.ttf.xhtml?ln=default") format("truetype"),
       url("../fonts/Roboto/Roboto-Light.svg.xhtml?ln=default#svgFontName") format("svg");
  font-weight: 300;
  font-style: normal;
 }
 /* Roboto-Regular */
 @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default");
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default?&#iefix") format("embedded-opentype"),
       url("../fonts/Roboto/Roboto-Light.woff.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.woff2.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.ttf.xhtml?ln=default") format("truetype"),
       url("../fonts/Roboto/Roboto-Light.svg.xhtml?ln=default#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
 }
 /* Roboto-Medium */
 @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default");
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default?&#iefix") format("embedded-opentype"),
       url("../fonts/Roboto/Roboto-Light.woff.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.woff2.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.ttf.xhtml?ln=default") format("truetype"),
       url("../fonts/Roboto/Roboto-Light.svg.xhtml?ln=default#svgFontName") format("svg");
  font-weight: 500;
  font-style: normal;
 }
 /* Roboto-Bold */
 @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default");
  src: url("../fonts/Roboto/Roboto-Light.eot.xhtml?ln=default?&#iefix") format("embedded-opentype"),
       url("../fonts/Roboto/Roboto-Light.woff.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.woff2.xhtml?ln=default") format("woff"),
       url("../fonts/Roboto/Roboto-Light.ttf.xhtml?ln=default") format("truetype"),
       url("../fonts/Roboto/Roboto-Light.svg.xhtml?ln=default#svgFontName") format("svg");
  font-weight: bold;
  font-style: normal;
 }

body {
    background-color: #ffffff; 
    margin: 0px;
    color: #323232;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: none;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
    }
 }
 
 h1 {
  /*border-bottom: 1px solid #AFAFAF; */
  font-size:  16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  /*color: #D20005;*/
  /*color: #1F589F;*/
}


h2 {
    font-size: 14px;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: underline;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
