# SignServer TimeMonitor configuration

timeserver.ntpdatecommand=/usr/sbin/ntpdate
timeserver.ntpqcommand=/usr/bin/ntpq

signserver.managedconfig=true

#timeserver.host=192.168.13.200
#timeserver.sendsamples=2
#timeserver.timeout=0.2

#timemonitor.maxAcceptedOffset=997
#timemonitor.warnOffset=500
#timemonitor.statusExpireTime=900
#timemonitor.leapStatusExpireTime=60000
#timemonitor.minRunTime=500
#timemonitor.warnRunTime=700

timemonitor.stateweb.enabled=true
timemonitor.stateweb.bindaddress=127.0.0.1
timemonitor.stateweb.port=8980
timemonitor.stateweb.threads=5
timemonitor.stateweb.backlog=0

signserver.process.url=http://localhost:8080/signserver/process
signserver.statuspropertiesworker.name=TimeMonitorManager
signserver.statusproperty.name=TIMESOURCE0_INSYNC
signserver.leapstatusproperty.name=LEAPSECOND
