<?xml version="1.0" encoding="UTF-8" ?>
<persistence>
   <persistence-unit name="SignServerJPA">
      <jta-data-source>java:/SignServerDS</jta-data-source>
      <mapping-file>META-INF/entity-mappings.xml</mapping-file>
       <properties>            
            <property name="hibernate.hbm2ddl.auto" value="update"/>
       </properties>
   </persistence-unit>
</persistence>