<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA - Proprietary Modules: Enterprise Certificate Authority        *
 *                                                                       *
 *  Copyright (c), PrimeKey Solutions AB. All rights reserved.           *
 *  The use of the Proprietary Modules are subject to specific           * 
 *  commercial license terms.                                            *
 *                                                                       *
 *************************************************************************/

 version: $Id$
 -->
<web-app version="3.0" id="peerconnector_web_1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>EJBCA Peer Connector Receiver</display-name>
    <servlet>
        <display-name>PeerConnectorServlet</display-name>
        <servlet-name>PeerConnectorServlet</servlet-name>
        <servlet-class>org.signserver.ejbca.peerconnector.PeerConnectorServlet</servlet-class>
        <load-on-startup>99</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeerConnectorServlet</servlet-name>
        <url-pattern>/v1</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
    <!-- <ejb-local-ref>
        <description>An EJB that can provide references to all other SSBs to avoid this kind of declarations</description>
        <ejb-ref-name>EjbBridgeSession</ejb-ref-name>
        <local>org.ejbca.core.ejb.EjbBridgeSessionLocal</local>
        <ejb-link>EjbBridgeSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <description>An EJB that can provide references to all enterprise edition SSBs to avoid this kind of declarations</description>
        <ejb-ref-name>EnterpriseEditionEjbBridgeSession</ejb-ref-name>
        <local>org.ejbca.core.ejb.EnterpriseEditionEjbBridgeSessionLocal</local>
        <ejb-link>EnterpriseEditionEjbBridgeSessionBean</ejb-link>
    </ejb-local-ref> -->
</web-app>
