/*This style sheet controls every element of design, and content. No tables were used, there a lot of
 classes and id's not used and I have commented most of them out. There could also be some repetitivenes.


/* basic elements */
body { 
	font: 10pt/16pt verdana; 
	color: #555753; 
	background: #ffffff; 
	margin: 0px; 
	text-align:center;
	background-image:url(/images/valbackground.gif);
	}
p { 
	font: 10pt/16pt verdana; 
	margin-top: 0px; 
	text-align: justify;
	}
	
h3 { 
	font: italic normal 12pt Garamond; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #7D775C;
	}
h5  {
     font:  bold normal 12pt georgia; 
	 letter-spacing: 1px;
	 color: #B7A5DF;
	 text-align: center;
	 }
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #3333CC;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color:#B7A5DF;
	}
a:hover, a:active { 
	text-decoration: underline; 
	color:#99ff33;
	/*color: #9685BA; alternate color for hover effects*/
	}
/* Other parts also frequently used*/
#container {
  background-color:#FFFFFF;
  margin: 0 auto;
  width: 790px;
  height: 100%;
  text-align: left;
  }
#contentSmall {
    border:  solid #99ff33;
	padding: 5px;
	border-width: 10px 1px 2px 1px;
	background-color:#ffffff;
	width: 140px;
	
	
	}
	
#footer{/* controls the area where the copyright and privacy policy are*/
    clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #555753;
	padding: 10px 2px 2px 2px;
	
	}
#li {font:9pt georgia;}

#masthead{
	border:  solid #ffffff;
	border-width:30px 0px 0px 0px;
/* Here's where the masthead logo is*/
	background-image:url(/images/newlogo.gif);
	background-repeat:no-repeat;
	height:109px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	
}
#globalNav{

background-color:#FFFFFF;
padding: 0px 0px 5px 10px;
border-bottom: 1px solid #CCC;
color: #cccccc;

}

/*#navBar{
	float: left;
	width: 20%;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
	border-right: 1px solid #cccccc;
}
#navBar ul a:link, #navBar ul a:visited {display: block;}
#navBar ul {list-style: none; margin: 0; padding: 0;}

hack to fix IE/Win's broken rendering of block-level anchors in lists 
#navBar li {border-bottom: 1px solid #EEE;}

fix for browsers that don't need the hack 
html>body #navBar li {border-bottom: none;}*/

#sectionLinks{
	position: relative;
	margin:0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
	}
#sectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	background-color: #dddddd;
}
#contentmain{
  padding: 0px 10px 0px 10px;
  background-color:#FFFFFF;
  float: right;
  width:520px;
  margin:10px 5px 5px 5px;
  text-align:left;
 /* border-right:1px solid #cccccc;*/
 
}
#templatecontent{
  padding: 0px 10px 0px 10px;
  background-color:#FFFFFF;
  float: right;
  width:540px;
  margin:10px 5px 5px 5px;
  text-align:left;
}
#content{
  padding: 0px 10px 0px 10px;
  background-color:#FFFFFF;
  float: left;
  width:550px;
  border-right:1px solid #cccccc;
}
#rightcontent{
  padding: 0px 5px 0px 5px;
  background-color:#FFFFFF;
  float: left;
  width: 180px;
}
.bigthumbnail/*Thumbnail and clearboth control the thumbnail images and how they are displayed*/
{
float: left;
width: 160px;
border: 1px solid #999;
margin: 0 3px 3px 0;
padding: 5px;
}
.thumbnail/*Thumbnail and clearboth control the thumbnail images and how they are displayed*/
{
float: left;
width: 100px;
border: 1px solid #999;
margin: 0 15px 15px 0;
padding: 5px;
font: 8pt/16pt arial;
}
/*.clearboth { clear: both; }*/

.rollover a { display:block; width:160px; background-color: #FFFFFF}
/*.rollover a:hover { background-color: #99ff33} unused rollover effect...applied it to the global hover instead see top of page*/
div.menu {
	width:135px;
	background:#ffffff;
	padding:0;
	margin:1em;
	border: solid #99ff33;
	border-width: 10px 1px 2px 1px;
	font: 8pt/12pt arial;
}

div.menu a {
	display:block;
	margin:3px;
	width:100%;
	padding:0.3em;
	font: 8pt/12pt arial;
	
	border-top:1px solid #cccccc;
	color:#B7A5DF;
	text-decoration:none;
}


html>body div.menu a {width:auto;}

div.menu a:hover {background:#99ff33;color:#00f;}

div.newHeader {
	font: 12pt arial;
}

div.newBody {
	font: 10pt arial;
}

div.tipsHeader {
	font: 12pt arial;
}

div.tipsBody {
	font: 10pt arial;
}
