/* Styles for the demo web pages */

img {
    border: 0px;
}

div.header {
    font-size: 42px;
    font-weight: bold;
    margin-left: 2.5em;
    margin-top: 15px;
    font-style: italic;
}

fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 2em;
}

h3 {
    margin-top: 4em;
}

td {
    width: 50%;
}
